<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="application.scss">

  <body>
    <div style="width: 800px;
    margin-left: auto;
    margin-right: auto;" id="container">

      <div style="text-align: center;" id="header">

        <% if current_student %>
          <h1>Welcome
            <%= current_student.name.capitalize %></h1>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <h1>Welcome
          </h1>
          <%= link_to "Login", login_path %>
        <% end %>

      </div>
      <iframe  width="560" height="315" src="https://www.youtube.com/embed/ySZiJxNjeQI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>

    </div>
    <div id="footer">
      Copyright &copy; 2018 Charlie Tung & Eric Razor
    </div>

  </body>

</html>

<!-- Add css and formatting later -->
