<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="application.scss">

  <body>
    <div id="container">
      <div id="header">
        <%= link_to "New Pitch", new_pitch_path %>

        <% @pitches.each do |pitch| %>
          <li style="list-style-type: none"><%= link_to pitch.title, pitch%>
            <strong>Content:
            </strong>
            <%= pitch.content %></li>
        <% end %>
      </div>
      <div id="footer">
        Copyright &copy; 2018 Charlie Tung & Eric Razor
      </div>
    </div>

  </body>
</html>
