/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import 'bootstrap';

#yield_div {
  margin: 2%;
}



#student_profile_picture {
  color: #fff;
  border-radius: 5px;
  background-color: #dd3c45;
  border-color: #17a2b8;
}


.student_image {
  width: 30rem;
}

// body {
//   background-color: lightblue;
// }

.student_show_info {
  

}




// .student_names {
//   font-size: 50px;
// }
