/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import 'bootstrap';

#yield_div {
  margin: 2%;
}

#container {
  width: 800px;
  // margin-left: auto;
  // margin-right: auto;
  font-size: 18pt;
}

#header {
  text-align: left;
  font-family: arial;
  // cursive,
  color: #45ff07;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}

body {
  background-image: url("http://24.media.tumblr.com/2bd24e4d9ad060b7a25b29a9649125d3/tumblr_msrxm5Fb111ru39xmo1_500.gif");
  background-repeat: no-repeat;
  background-size: cover;

}

.student_image {
  width: 30rem;
}

//
